html {
    box-sizing: border-box;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Public Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    font-family: inherit;
}